.suggestion{
    display: block;
    width: 100%;
    margin-top: 2rem;
}
.suggestion_showMore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    text-decoration: none;
    color: var(--secondary);
    font-family: var(--danaBlack);
    font-size: 1.5rem;  
    transition: all 0.4s linear;
}
.suggestion_showMore:hover{
    color: var(--primary);
}