.breadcrumbs{
    display: block;
    width: 100%;
    margin: 2rem 0;
}
.breadcrumb_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--primary);
    height: 3rem;
    padding: 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 0.5rem;
    color: var(--white);
}
.breadcrumb_link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    transition: all 0.4s linear;
}
.breadcrumb_link:hover{
    color: var(--success);
}
.breadcrumb_icon{
    font-size: 1.8rem;
}
.breadcrumb_title{
    display: block;
    font-family: var(--danaBlack);
}