.category{
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.category_item{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 0.6rem;
    overflow: hidden;
    margin-bottom: 1rem;
    transition: all 0.4 linear;
}
.category_item:hover .category_item_img{
    transform: rotate(8deg);
}
.category_item_img{
    width: 100%;
    border-radius: 0.6rem;
    box-shadow: 0 1px 15px var(--primary);
    object-fit: cover;
    transition: all 0.4s linear;
}
.category_item_title{
    display: block;
    margin-top: 0.7rem;
    font-family: var(--danaBlack);
    font-size: 0.9rem;
    color: var(--primary);
}
.category_item_number{
    display: block;
    margin-top: 0.2rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--success);
}