.banner{
    display: block;
    width: 100%;
    margin-top: 2rem;
}
.banner_wrapper{
    display: block;
    position: relative;
    margin-bottom: 1rem;
}
.banner_img{
    width: 100%;
    height: 177px;
    border-radius: 0.5rem;
    filter: brightness(60%);
}
.banner_logo{
   display: block;  
    width: 100px;
    position: absolute;
    left: 35%;
    top: 2rem;
}